body{
    margin:0;
    font-family:'Didact Gothic';
    background: linear-gradient(135deg, #4A7FA7,#1A3D63);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background: linear-gradient(135deg,#4E8EA2,#0A4174);
    padding: 30px;
    border-radius: 15px;
    width: 300px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}
input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #1111;
}
button{
    width: 100%;
    padding: 10px;
    background: #D1CFC9;
    border: none;
    color: black;
    border-radius: 8px;
    cursor: pointer;
    justify-content: center;
}
button:hover{
    background: #D1CFC9;
}

