<!DOCTYPE html>
<html>
<head>
    <title>FinTech AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style4.css') }}">
</head>

<body>

<section id="welcome">
    <div class="center-box">
        <h1>Welcome</h1>
        <p>Manage your finances efficiently and smartly</p>

            <a href="#explore" class="down-arrow">↓</a>
    </div>
</section>

<section id="explore">

    <div class="feature-grid">

        <a href="/dashboard-view" class="feature-card">
    <h2>Personal Dashboard</h2>
    <p>Track income, expenses & savings visually</p>
</a>

<a href="/news" class="feature-card">
    <h2>Financial News</h2>
    <p>Stay updated with latest market trends</p>
</a>

<a href="/budget" class="feature-card">
    <h2>AI Budget Planner</h2>
    <p>Get smart AI-based financial advice</p>
</a>

<a href="/tax" class="feature-card">
    <h2>Tax Calculator</h2>
    <p>Estimate your taxes easily</p>
</a>
    </div>

</section>

</body>
</html>