<!DOCTYPE html>
<html>
    <head>
        <title>Login/Signup</title>
        <link rel="stylesheet" href="{{url_for('static',filename='style1.css')}}">
    </head>
    <body>
        <div class="container">
            <h1>Login</h1>
            <form>
            <input name="email" type="email" placeholder="Email">
            <input name="password" type="password" placeholder="Password">
            <button type="submit">Login</button>
            </form>
            <p>Don't have an account?<a href="signup.html">Sign up</a></p>
        </div>
    </body>
</html>